/* * * * * *
   Globals
* * * * * * */

:root{
  --active : #98ff98;
  --active-hover: #addfad;
  --inactive : #ff9999;
  --inactive-hover : #ff6961;
  --remove-main: #e5e4e2;
  --remove-secondary: #bebebe;
  --modal-background: #f0eef1;
  --banner-main: #ffffff;
  --card-primary: rgb(255, 255, 255);
  --background-main: rgb(255, 249, 239);
  --field-background: #cfcfcf;
  --text-main: rgb(20, 20, 20);
}

.dark{
  --active : #8cb4ff;
  --active-hover: #6fa2ff;
  --inactive : #ff9999;
  --inactive-hover : #ff6961;
  --remove-main: #fd78bf;
  --remove-secondary: #ff1493;
  --modal-background: #1b1b1b;
  --banner-main: #000000;
  --card-primary: #343434;
  --background-main: #1b1b1b;
  --field-background: #4e4e4e;
  --text-main: #e2e2e2;
}

body{
  display: grid;
  min-height: 100vh;
  grid-template-rows: 10vh 1fr 5vh;
  color: var(--text-main);
}

button{
  all: initial;
  text-align: center;
  cursor: pointer;
}

a{
  all: initial;
  cursor: pointer;
}

svg{
  color: var(--text-main);
}

/* * * * * *
    Header
* * * * * * */

header{
  display: flex;
  background-color: var(--banner-main);
  gap: 50vw;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 10px 2px rgba(174,171,171,0.75);
}

.header-dark{
  box-shadow: none;
  border-bottom: 1px solid var(--text-main);
}

.logo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

#dark-toggle{
  transition: transform 500ms ease-out;
}

#dark-toggle:hover{
  transform: scale(1.2);
}

/* * * * * *
    Main
* * * * * * */

main{
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
  align-items: center;
  gap: 5vh;
}

.open-modal{
  font-size: 20px;
  max-width: 150px;
  text-align: center;
  line-height: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 80%;
  padding: 0.5rem 0;
  border-radius: 10px;
  background-color: var(--remove-main);
  margin-top: 5vh;
}

.open-modal:hover{
  background-color: var(--remove-secondary);
}

section{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 80%;
}


/* * * * * *
    Cards
* * * * * * */

.card{
  width: 350px;
  height: 320px;
  border-radius: 10px;
  background-color: var(--card-primary);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  border: 1px solid var(--text-main);
}

.card h2,
.card h3,
.card button{
  font-size: 20px;
  max-width: 70%;
  text-align: center;
  line-height: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.card button{
  width: 80%;
  padding: 0.5rem 0;
  border-radius: 10px;
}

.active{
  background-color: var(--active);
}

.active:hover{
  background-color: var(--active-hover);
}

.inactive{
  background-color: var(--inactive);
}

.inactive:hover{
  background-color: var(--inactive-hover);
}

.remove-button{
  background-color: var(--remove-main);
}

.remove-button:hover{
  background-color: var(--remove-secondary);
}

/* * * * * *
    Footer
* * * * * * */

footer{
  background-color: var(--background-main);
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.social{
  display: flex;
  gap: 12px;
}

.social a{
  transition: transform 500ms ease-out;
}

.social a:hover{
  transform: rotate(360deg);
}

/* * * * * *
    Modal
* * * * * * */

.modal{
  position: relative;
  max-width: 40ch;
  height: 30%;
  border: 0;
  background-color: var(--modal-background);
  color: var(--text-main);
  border-radius: 20px;
  border: 1px solid var(--text-main);
}

.modal-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

input{
  background-color: var(--field-background);
  color: var(--text-main);
}

.modal h2{
  font-weight: bold;
  font-size: 25px;
}

.modal label{
  font-size: 20px;
}

#read{
  transform: scale(1.5);
}

.modal input{
  font-size: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
}

dialog::backdrop{
  background-color: black;
  opacity: 0.5;
}

.submit{
  width: 80%;
  padding: 0.5rem 0;
  border-radius: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal a{
  color: var(--text-main);
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
  transition: transform 500ms;
}

.modal a:hover{
  transform: rotate(180deg);
  color: red;
}