/* * * * * *
   Globals
* * * * * * */

:root{
  --active : #98ff98;
  --active-hover: #addfad;
  --inactive : #ff9999;
  --inactive-hover : #ff6961;
  --remove-main: #e5e4e2;
  --remove-secondary: #bebebe;
  --modal-background: #f0eef1;
}

button{
  all: initial;
  text-align: center;
  cursor: pointer;
}

main{
  display: flex;
}

a{
  all: initial;
  cursor: pointer;
}

.open-modal{
  font-size: 20px;
  max-width: 150px;
  text-align: center;
  line-height: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 80%;
  padding: 0.5rem 0;
  border-radius: 10px;
  background-color: var(--remove-main);
}

.open-modal:hover{
  background-color: var(--remove-secondary);
}

/* * * * * *
    Cards
* * * * * * */

.card{
  width: 350px;
  height: 320px;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.card h2,
.card h3,
.card button{
  font-size: 20px;
  max-width: 70%;
  text-align: center;
  line-height: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.card button{
  width: 80%;
  padding: 0.5rem 0;
  border-radius: 10px;
}

.active{
  background-color: var(--active);
}

.active:hover{
  background-color: var(--active-hover);
}

.inactive{
  background-color: var(--inactive);
}

.inactive:hover{
  background-color: var(--inactive-hover);
}

.remove-button{
  background-color: var(--remove-main);
}

.remove-button:hover{
  background-color: var(--remove-secondary);
}

/* * * * * *
    Modal
* * * * * * */

.modal{
  position: relative;
  max-width: 40ch;
  height: 30%;
  border: 0;
  background-color: var(--modal-background);
  border-radius: 20px;
}

.modal-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.modal h2{
  font-weight: bold;
  font-size: 25px;
}

.modal label{
  font-size: 20px;
}

#read{
  transform: scale(1.5);
}

.modal input{
  font-size: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
}

dialog::backdrop{
  background-color: black;
  opacity: 0.5;
}

.submit{
  width: 80%;
  padding: 0.5rem 0;
  border-radius: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal a{
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
  transition: transform 500ms;
}

.modal a:hover{
  transform: rotate(180deg);
  color: red;
}